<ion-view view-title="Parametres">

  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Prénom</span>
          <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nom</span>
          <input type="text" placeholder="Suhr">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Twitter</span>
          <input type="text" placeholder="@poulle_p">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="poulle_p@etna-alternance.net">
        </label>
        <div class="item item-divider">
          Vos centres d'interet
        </div>
        <ul class="list">

          <ion-toggle ng-repeat="item in prefList"
                      ng-model="item.checked"
                      ng-checked="item.checked" ng-change="change(item)">
            {{ item.text }}
          </ion-toggle>

        </ul>
      </div>
    </form>
  </ion-content>
</ion-view>
